/*mobile first*/

.header-section{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;


}

.header-section__title{
  padding-bottom: 10px;
  border-bottom:  3px solid #60a771;
}

/*MAIN*/

.body-section{
  width: 100%;
  /* height: calc(100vh - 110px); */
  padding: 20px;
}

.cad-task{

  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.cad-task__entry{
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #898787;
}

/*BUTTON*/
.cad-task__btn-confirm{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #60a771;
  color: white;
  border-radius: 5px;
  border: 1px solid #60a771;
}


.cad-task__entry::placeholder{
  color: #cecece;
}


.cardlist{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}


.cardtask{
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 13px;
  border-radius: 10px;
  background-color: #31364D;
  width: 100%;
  height: 70px;
  justify-content: space-between;
}

/*ICON*/
.cardtask__icon-box{
  width: 80px;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cardlist__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 5px;

}

.cardlist__icon:first-of-type{
  border: 1px solid #9BB8ED;
}

.cardlist__icon:last-of-type{
  border: 1px solid #D46E75;
}


/*FOOTER*/

.footer-section{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-section__right-text{
  font-size: 12px;
}